.introducao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--space-xl);
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/decoração.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao .h1-separador {
  color: var(--color-brand-blue);
  font-weight: 400;
  margin: 0 4px;
}

.introducao p {
  font-size: 1.5rem;
  color: var(--color-gray-600);
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-md);
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
}
